:root {
  --white-color: #ffffff;
  --grey-color: #666666;
  --dark-white-color: #eaeaea;
  --dark-grey-color: #333333;
  --black-color: #000000;
  --light-blue-color: #2690d4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17.6px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-grey-color);
  background-color: var(--dark-white-color);
}

.header {
  min-height: 450px;
  background-color: var(--dark-grey-color);
  background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--dark-white-color);
}
.content-wrap {
  max-width: 880px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.header-title {
  font-size: 2rem;
  padding-top: 100px;
}
.header-text {
  padding: 1rem 0;
}
.header-link {
  display: inline-block;
  padding: 1rem 2rem;
  color: inherit;
  margin: 0.5rem 0;
  border: 1px solid var(--grey-color);
  background-color: var(--dark-grey-color);
}

.section-title {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
.section-text {
  padding: 1rem 0;
}

.section-a {
  padding-bottom: 2rem;
}
.section-a .section-text {
  columns: 20rem auto;
  column-gap: 2rem;
}

.section-b {
  background-color: var(--dark-grey-color);
  padding: 2rem 0;
}
.section-b-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.section-b-item {
  width: 100%;
}
@media (min-width: 700px) {
  .section-b-list {
    flex-wrap: nowrap;
  }
  .section-b-item {
    width: calc(100% / 3 - 1rem);
  }
}
.section-b-item-img {
  width: 100%;
}
.section-b-item-content {
  padding: 1.5rem;
  background-color: var(--white-color);
}
.section-b-item-title {
  font-size: 1.17rem;
  padding: 1.17rem 0;
}
.section-b-item-text {
  padding: 1rem 0;
}

.section-c {
  background-color: var(--white-color);
  padding: 2rem;
}
.section-d {
  display: flex;
  flex-wrap: wrap;
  color: var(--white-color);
}
.section-d-box {
  padding: 2rem;
  flex: 1 1 20rem;
}
.section-d-box:first-child {
  background-color: var(--light-blue-color);
}
.section-d-box:last-child {
  background-color: var(--dark-grey-color);
}
.section-d-link {
  display: inline-block;
  padding: 1rem 0;
  color: var(--white-color)
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(--black-color);
  color: var(--white-color);
}
.footer-text {
  flex: 1 1 20rem;
}
.footer-link {
  color: var(--light-blue-color);
}
